/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}
.link{
  font-weight: 700;
  padding: 21px;
}
header{
position: fixed;
  background: white;
  width: 100%;
  top: 0;

}
#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-size: cover;
  height: 554px;
}
.color_letra{
  text-align: center;
  color: white;

}
.menu{
 

  overflow: auto;
}
.text-home{
  font-size: 53px;
}
.btn-home{
  background: #2ECC71;
  color: #fff;
  border-radius: 1px;
  padding: 11px 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;

}
#boton{
  text-align: center;
}
#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;

}
.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}
footer{
  text-align: center;
  height: 70px;
  background: #373b47;
  color: white;

}
#work{
  background-color: white;
  text-align: center;
  color: black;

}
.text-work{
  font-size: 35px;
  letter-spacing: 2px;
}

.modal {
   display: none;
    position: fixed;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.9);
}

/* Modal Content (image) */
#modal-content{
    margin : auto ;
    display: block;
    width: 60%;
    max-width: 700px;
   

}
footer{
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
}


.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.mySlides {display:none;}